header {
  background-color: white;
}
.nav-bar {
  display: flex;
  height: 50px;
}
.nav-bar_logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 90px;
    height: 100px;
    object-fit: cover;
  }
}
.nav-bar_buscador {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid;
  }
}
.nav-bar_accesos {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border: 2px solid black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 0px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      border: 2px solid rgb(255, 255, 255);
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}
@media (min-width: 1024px) {
  .nav-bar_logo {
    width: 15%;
    justify-content: center;
    img {
      width: 150px;
      height: 50px;
    }
  }
  .nav-bar_buscador {
    width: 75%;
    input {
      width: 60%;
    }
  }
  .nav-bar_accesos {
    width: 10%;
  }
}
