* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedorTarjetas {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btnTarjeta {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: aquamarine;
}
.btnTarjeta:hover {
  cursor: pointer;
}
