footer {
  background-color: rgb(61, 61, 61);
}
.links a {
  color: white;
  text-decoration: none;
}
.contacto a {
  color: white;
}
.redes-sociales a img {
  padding: 5px;
  border-radius: 15px;
  width: 100px;
  height: 80px;
}

@media (min-width: 768px) {
  .links {
    padding-top: 70px;
  }
  .contacto {
    padding-top: 70px;
  }

  .redes-sociales a img {
    padding: 5px;
    border-radius: 15px;
    width: 300px;
    height: 110px;
  }
}
@media (min-width: 1024px){
.links{
    font-size: 22px;
  }
  .contacto{
    font-size: 22px;
  }
}

